.body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff
}


.calculadora-goles {
    width: 100%;
    max-width: 280px;
    text-align: center;
    background: #e8eaf6;
    padding-left: 0%;
    padding-right: 0%;
}

.ancho {
    width: 35%;
}

.esquina {
    width: 32%;
}

.goles {
    width: 27%;
}

.extra {
    width: 22%;
}

.min-seg {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.min-seg {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.goles-esquinas {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}


.time-couta {
    display: flex;
    justify-content: space-evenly;
}

.title-content {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.title-1 {
    display: block;
    margin: auto 0px auto 0px;
    width: 100%;
    font-size: large;
    color: #000000;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 2px;
}

.title-1:not(:focus) {
    background-color: #c5cae9;
}

.btn-title {
    color: rgb(0, 89, 130);
    cursor: auto;
}

.firsttime {
    font-weight: bold;
}