<div class="container">
  <mat-toolbar class="height">
      <span>Calculadoras</span>
  </mat-toolbar>    
</div>
<br>
<h2>MENOS GOLES, MENOS ESQUINAS</h2>
<div class="calc">
  
  <app-menos-one></app-menos-one>
  <app-menos-dos></app-menos-dos>
  <app-menos-tres></app-menos-tres>
</div>
<br>
<hr style="border: none; background-color: #f5f5f5; height: 1px;">
<br>
<h2>MAS GOLES, MAS ESQUINAS</h2>
<div class="calc" style="padding-bottom: 30px;">
  
 <app-mas-one></app-mas-one>
 <app-mas-two></app-mas-two>
 <app-mas-three></app-mas-three>
</div>
